{% extends 'base.html.twig' %}

{% block title %}Réclamation-Demande d'info
{% endblock %}

{% block body %}
	<div
		class="container">
		{# {% for message in app.flashes('success') %}
					<div class="alert alert-success mt-4">
						{{ message }}
					</div>
				{% endfor %}
		
				{% for message in app.flashes('danger') %}
					<div class="alert alert-success mt-4">
						{{ message }}
					</div>
				{% endfor %} #}

		<h1>Formulaire de contact - Réclamation</h1>

		{{ form(form) }}

			<h3>Merci de votre confiance, nous vous contacterons par email pour la suite de votre demande.</h3>
		</div>


	{% endblock %}
