{% extends 'base.html.twig' %}

{% block title %}Contrat
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Relier le  contrat du partenaire à son adresse mail.</h1>

		<h2>Entrez le type de contrat et sélectionner la bonne adresse mail dans la liste.</h2>

		<h3>Vous pouvez activer le compte si vous le souhaitez ou plus tard à votre convenance.
		</h3>

		{{ include('pages/partner/_form.html.twig') }}

		<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_partner_index') }}">Retour à la liste</a>

	</div>

{% endblock %}
