{% extends 'base.html.twig' %}

{% block title %}Edit Sporthall
{% endblock %}

{% block body %}
	<h1>Edit Sporthall</h1>

	{{ include('pages/sporthall/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_sporthall_index') }}">back to list</a>

	{{ include('pages/sporthall/_delete_form.html.twig') }}
{% endblock %}
