{% extends 'base.html.twig' %}

{% block title %}Confirmation
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Confirmation Salle de Sport</h1>

		<h2>Sélectionner la bonne adresse mail dans la liste.</h2>

		<h3>Vous pouvez activer le compte si vous le souhaitez ou plus tard à votre convenance.
		</h3>

		{{ include('pages/sporthall/_form.html.twig') }}

		<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_sporthall_index') }}">Retour à la liste</a>

	</div>
{% endblock %}
