{% extends 'base.html.twig' %}

{% block title %}Edit Mailing
{% endblock %}

{% block body %}
	<h1>Edit Mailing</h1>

	{{ include('pages/mailing/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_mailing_index') }}">back to list</a>

	{{ include('pages/mailing/_delete_form.html.twig') }}
{% endblock %}
