{% extends 'base.html.twig' %}

{% block title %}Modification du mail
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Modification du Mail</h1>

		{{ include('pages/mailing/_form.html.twig', {'button_label': 'Update'}) }}

		<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_mailing_index') }}">Retour à laliste</a>


		{{ include('pages/mailing/_delete_form.html.twig') }}</div>

{% endblock %}
