{% extends 'base.html.twig' %}

{% block title %}Rédiger un mail
{% endblock %}

{% block body %}

	<div class="container mt-4">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('danger') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		<h1>Rédiger un mail</h1>

		{{ include('pages/mailing/_form.html.twig') }}

		<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_mailing_index') }}">Retour à la liste</a>

	</div>

{% endblock %}
