{% extends 'base.html.twig' %}

{% block title %}Edit Sentmail
{% endblock %}

{% block body %}
	<h1>Edit Sentmail</h1>

	{{ include('sentmail/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_sentmail_index') }}">back to list</a>

	{{ include('pages/sentmail/_delete_form.html.twig') }}
{% endblock %}
