{% extends 'base.html.twig' %}

{% block title %}New Sentmail
{% endblock %}

{% block body %}
	<h1>Create new Sentmail</h1>

	{{ include('pages/sentmail/_form.html.twig') }}

	<a href="{{ path('app_sentmail_index') }}">back to list</a>
{% endblock %}
