h1 {
    font-family: 'Bebas';
}

h2 {
    font-family: 'Bebas';
}

h3 {
    font-family: 'Bebas';
}

#filters{
    display: flex;
    gap: 10px;
}

#filters div{
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}