<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		{# Answer for the update of the permission of the partner #}
		<h1>Demande de M/Mme
			{{ partner.user.contact }}</h1>

		<p>Email :
			{{ partner.user.email }}</p>
		<p>Société :
			{{ partner.user.name }}</p>
		<p>Message :</p>
		<div>
			<p>La liste de vos options a été mise à jour selon votre demande.
			</p>
			<p>Cordialement</p>
			<p>L'équipe Marketing de PlanetBody.</p>

		</div>
	</body>
</html>
