<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		{# Answer for the update of the permission of a sporthall #}
		<h1>Demande de M/Mme
			{{ sporthall.user.contact }}</h1>

		<p>Email :
			{{ sporthall.user.email }}</p>

		<p>Société :
			{{ sporthall.user.name }}</p>

		<p>Message :</p>
		<div>
			<p>La liste de vos options a été mise à jour selon votre demande.
			</p>
			<p>Cordialement</p>
			<p>L'équipe Marketing de PlanetBody.</p>

		</div>

	</body>
</html>
