{% extends 'base.html.twig' %}

{% block title %}Edit Maincustomer{% endblock %}

{% block body %}
    <h1>Edit Maincustomer</h1>

    {{ include('maincustomer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_maincustomer_index') }}">back to list</a>

    {{ include('maincustomer/_delete_form.html.twig') }}
{% endblock %}
