{% extends 'base.html.twig' %}

{% block title %}New Maincustomer{% endblock %}

{% block body %}
    <h1>Create new Maincustomer</h1>

    {{ include('maincustomer/_form.html.twig') }}

    <a href="{{ path('app_maincustomer_index') }}">back to list</a>
{% endblock %}
