{% extends 'base.html.twig' %}

{% block title %}Validation du franchisé
{% endblock %}

{% block body %}
	<h1>Validation du franchisé</h1>

	{{ include('pages/contact/_form.html.twig', {'button_label': 'Valider'}) }}

	<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_contact_index') }}">Retour à la liste</a>


	{{ include('pages/contact/_delete_form.html.twig') }}
{% endblock %}
